body {
  font-family: sans-serif;
}

.button-overlay {
  position: relative;
  top: 40px;
  left: 40px;
  z-index: 10;
}

.button-overlay button {
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  color: #fff;
  font-size: 20px;
  background-color: #4E832F;
}

.button-overlay button:hover:not(:disabled) {
  border: 4px solid #0f5800;
  border-radius: 5px;

  margin: -4px;
  margin-bottom: 11px;
}

.button-overlay button:disabled {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

.fc-node {
  z-index: 1;
}

.innerNode {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  color: #000;
  font-size: 15px;
}

.fc-node.fc-selected {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

.fc-node.fc-dragging {
  z-index: 10;
}

.fc-topConnectors, .fc-bottomConnectors {
  position: absolute;
  left: 0;
  width: 100%;

  display: flex;
  flex-flow: row;
  z-index: -10;
}

.fc-topConnectors {
  top: -25px;
}

.fc-bottomConnectors {
  bottom: -25px;
}

.fc-magnet {
  display: flex;
  flex-grow: 1;
  height: 30px;
  min-width: 10px;

  z-index:-10;

  justify-content: center;
}

.fc-topConnectors .fc-magnet {
  align-items: flex-end;
}

.fc-bottomConnectors .fc-magnet {
  align-items: flex-start;
}

.fc-connector {
  width: 10px;
  height: 10px;

  border: 2px solid black;
  -moz-background-clip: padding; /* Firefox 3.6 */
  -webkit-background-clip: padding; /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  /*  border-radius: 50% 50%; */
  background-color:white;
  color: white;
}

.fc-joint {
  width: 8px;
  height: 8px;
  border: 2px solid black;
  background-clip: padding-box;
  fill:black;
  background-color:black;
  color: black;
}

.fc-connector.fc-hover {
  background-color: #000;
}

.fc-edge {
  stroke: black;
  stroke-width: 3;
  fill: transparent;
}

.fc-edge.fc-hover {
  stroke: black;
  stroke-width: 5;
  fill: transparent;
}

@keyframes dash {
  from {
    stroke-dashoffset: 500;
  }
}

.fc-edge.fc-selected {
  stroke: red;
  stroke-width: 2;
  fill: transparent;
}

.fc-edge.fc-active {
  animation: dash 3s linear infinite;
  stroke-dasharray: 20;
}

.fc-edge.fc-dragging {
  pointer-events: none;
}

.edge-endpoint {
  fill: black;
}

.fc-nodedelete {
  display: none;
}

.fc-selected .fc-nodedelete {
  display: block;
  position: absolute;
  right: -13px;
  top: -13px;
  border: solid 2px black;

  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;

  height: 25px;
  padding-top: 2px;
  width: 27px;

  background:white;
  color: black;
  text-align: center;
  vertical-align: bottom;
}

.chipname {
  font-family: "Times Roman", times, serif;
  font-size: large;
  font-weight: 500;
}

.chipborder {
  fill: white;
  stroke: black;
  stroke-width: 2;
}
