{% extends "bootstrap/base.html" %}
{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/index">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          <img src="{{ url_for('static', filename='images/default.png') }}" style="height:40px;width:40px;">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/logout">logout</a></li>
          <li><a href="/account/resetPassword/check">change password</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="container">
  {{ item.title }} <br>
  {{ item.detail|safe }}
  {% if item.kind=="VHDL" %}
    <a href="/studio/vhdl/{{ item.itemID }}" class="btn btn-primary" role="button">begin project</a>
    <a href="/submissionlist/{{ item.itemID }}" class="btn btn-primary" role="button">see history</a>
  {% endif %}
  {% if item.kind=="GRAPH" %}
    <a href="/studio/graph/{{ item.itemID }}" class="btn btn-primary" role="button">begin project</a>
    <a href="/submissionlist/{{ item.itemID }}" class="btn btn-primary" role="button">see history</a>
  {%endif%}
</div>
{% endblock %}
