{%extends "base.html"%}
{%block content%}
    <link href="{{ url_for('static', filename='style1.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Quicksand:300,700" rel="stylesheet">
    <div class="header">
        <div id="header-text">
            <h1>Welcome to psjjjj</h1>
            <h2>Build your own circuit by using this system</h2>
        </div>
    </div>
    <div class="partner"><h4><a href = {{ url_for('addProject') }} >click to start a project</a></h4></div>
{%endblock%}
