{% extends "bootstrap/base.html" %}
{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/index">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          <img src="{{ url_for('static', filename='images/default.png') }}" style="height:40px;width:40px;">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/logout">logout</a></li>
          <li><a href="/account/resetPassword/check">change password</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Submission List</h1>
  </div>
  <div class="list-group">
  {% for submission in submissions %}
    {% if submission.kind=="GRAPH" %}
      <a href="/studio/graph/{{ itemID }}/{{ submission.submissionID }}" class="list-group-item active">
    {% endif %}
    {% if submission.kind=="VHDL" %}
      <a href="/studio/VHDL/{{ itemID }}/{{ submission.submissionID }}" class="list-group-item active">
    {% endif %}
    {% if submission.status=="AC" %}
      <h4 class="list-group-item-heading">{{ submission.title }}<span class="label label-success">Success</span></h4>
    {% endif %}
    {% if submission.status=="CE" %}
      <h4 class="list-group-item-heading">{{ submission.title }}<span class="label label-danger">Compile Error</span></h4>
    {% endif %}
    {% if submission.status=="WA" %}
      <h4 class="list-group-item-heading">{{ submission.title }}<span class="label label-default">Wrong Answer</span></h4>
    {% endif %}
    <p class="list-group-item-text">{{ submission.time }}</p>
    </a>
  {% endfor %}
  </div>
</div>
{% endblock %}
