{% extends "bootstrap/base.html" %}
{% block metas %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
{% endblock %}
{% block styles %}
  {{ super() }}
  <style type="text/css" media="screen">
    body {
        overflow: hidden;
        background-color:#eee;
    }
    #editor {
        margin: 0;
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 240px;
        font-size: 20px;
    }
  </style>
  <link href="{{ url_for('static', filename='jstree/dist/themes/default/style.min.css') }}" rel="stylesheet">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/index">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          <img src="{{ url_for('static', filename='images/default.png') }}" style="height:40px;width:40px;">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/logout">logout</a></li>
          <li><a href="/account/resetPassword/check">change password</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="container">
    <pre id="editor"></pre>
    <div class="right" style="float:right;width:240px">
      <div class="panel panel-default">
        <div class="panel-heading">
          Operation
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-primary btn-lg btn-block" onclick="save({{ itemID }})">save</button>
          <button type="button" class="btn btn-primary btn-lg btn-block" onclick="test({{ itemID }})">test</button>
          <button type="button" class="btn btn-primary btn-lg btn-block" onclick="submit({{ itemID }})">submit</button>
          <button type="button" class="btn btn-primary btn-lg btn-block" onclick="show()">result</button>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Upload Activation
        </div>
        <div class="panel-body">
          <form role="form" action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <input type="file" class="form-control" placeholder="upload" name="file"> 
              <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit-btn">upload</button>
            </div>
          </form>
          <a href="/showInput" target="_blank" class="btn btn-primary btn-lg btn-block">showinput</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/src-noconflict/snippets/json.js') }}"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript">
    var editor = ace.edit("editor");
    var filename;
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/vhdl");

	$(document).ready(function(){
  		var url = window.location.pathname;
                console.log("url : " + url);
  		var items = url.split("/");
  		var length = items.length;
  		var itemID = items[length-1];
                var subID = '' 
                if (length == 7) {subID = items[6]; itemID = items[5]} 
                var request = {itemID:itemID, submissionID:subID, kind:'VHDL'};
                var jsonstr = JSON.stringify(request);

      	$.post("/load_vhdl",
      	{
                data:jsonstr
      	},function(data,status){
                console.log("data : " + data);
        	editor.session.setValue(data);
      	});
	});
    function save(itemID) {
      var vhdlcode = editor.getValue();
      var request = {
        itemID:itemID,
        code:vhdlcode,
        kind:'VHDL'
      };
      var jsonstr = JSON.stringify(request);
      $.ajax({
          type: "POST",
          url: '/save',
          data: jsonstr,
          contentType: "application/json; charset=utf-8",
          dataType: 'json',
          success: function(data){
            console.log('success');
          },
          error: function(data){
            console.log("error");
          }
      });
    };

    function test(itemID) {
      var vhdlcode = editor.getValue();
      var request = {
        itemID:itemID,
        code:vhdlcode
      };
      var jsonstr = JSON.stringify(request);
      $.ajax({
          type: "POST",
          url: '/test_vhdl',
          data: jsonstr,
          contentType: "application/json; charset=utf-8",
          dataType: 'json',
          success: function(name){
            console.log('success');
            filename = name.responseText;
          },
          error: function(name){
            console.log("error");
            filename = name.responseText;
            console.log(name.responseText)
          }
      });
    };

    function submit(itemID) {
      var vhdlcode = editor.getValue();
      var request = {
        itemID:itemID,
        code:vhdlcode
      };
      var jsonstr = $.toJSON(request);
      $.ajax({
          type: "POST",
          url: '/submit_vhdl',
          data: jsonstr,
          contentType: "application/json; charset=utf-8",
          dataType: 'json',
          success: function(data){
            console.log('success');
          },
          error: function(data){
            console.log("error");
          }
        });
    };
    function show() {
         var redirect_url = "/result/" + filename;
          window.open(redirect_url, 'newwindow'); 
    };
  </script>
{% endblock %}
