.header {
    background-image:url(images/canyan.jpeg);
    background-position:center center;
    background-size:cover;
    height:700px;
    width:100%;
}

#header-text {
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 25%;
    width: 60%;
}

h1 {
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

h2 {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}

h4 {
    color: #CCC;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: 300;
}

.partner {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #eeeeee;
}
